<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>단어 승인</title>
    <style>
        #add_body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            /* display: block; */
            display: flex;
            justify-content: center;
            /* align-items: center; */
        }
        
        /* 입력 칸 div */
        .add_C {
            display: flex;
            display: block;
            justify-content: center;
            text-align: center;
            margin: 20px;
            border: 1px solid black;
            
        }

        .add-text {
            padding: 10px;
            width: 150px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-right: 10px;
        }

        /* DB 표 */
        table {
            width: 80vw;
            border-collapse: collapse;  /* 표 테두리 단선으로 */
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            margin-top: 20px;
            text-align: center;
        }

        th, td {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            position: relative;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        th:not(:first-child)::before,
        td:not(:first-child)::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: #ddd;
        }

        /* data 사이 간격 */
        th:not(:last-child)::after,
        td:not(:last-child)::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        input {
            border-color: transparent;
            background-color: transparent;
            font-family: inherit;
            outline: none;
        }

        
    </style>
</head>
<!-- <body id="add_body">
    <form name="addword">
        <div class="add_C">
            <input type="text" class="add-text" name="name" id="name" placeholder="단어 이름">
            <input type="text" class="add-text" name="mean" id="mean" placeholder="해설"> <br>
            <button id="addWord" type="button">등록</button>
        </div>
        <p id="result"></p>
    </form> -->
    
    
    <% if (words.length > 0) {%>
        <table>
            <tr>
                <th class="th-number">번호</th>
                <th class="th-word">단어 명</th>
                <th class="th-meaning">단어 뜻</th>
                <th class="th-username">유저명</th>
                <th class="th-time">등록일</th>
                <th> 생성 날짜</th>
            </tr>
        <% for (const word of words) {%>
            <tr><form method="post" action="/admin/confirmword" name="forms" data-number="<%= word.number %>">
                <th>
                    <input type="text" name="number" value="<%= word.number %>" readonly> </input>
                </th>
                <th>
                    <input type="text" name="userid" value="<%= word.userid %>" readonly></input>
                </th>
                <th>               
                    <input type="text" name="word" value="<%= word.word %>" readonly></input>
                </th>
                <th>
                    <input type="text" name="meaning" value="<%= word.meaning %>" readonly></input>
                </th>
                <th>
                    <input type="text" name="createdAt" value="<%= word.createdAt %>" readonly></input>
                </th>
                <th>
                    <input type="text" name="updatedAt" value="<%= word.updatedAt %>" readonly>
                </th>
                <th>
                    <button class="delete" type="button">삭제</button>
                    <button id="approve" >승인</button>
                </th>
            </tr>
            </form>
        <% } %>
 
        <% } else {%>
            <h1>등록된 단어가 없습니다.</h1>
            <% } %>
 

  <script>
    const deleteButtonElements = document.querySelectorAll('.delete');

    async function deleteWord(event) {
        const form = event.target.parentElement;
        try {
            const res = await axios({
                url: '/admin/confirmword',
                method: 'delete',
                data: {
                    number: form.dataset.number
                }
            })
            location.href = '/admin/confirmword'
        } catch {
            console.log('에러발생');
        }

    }
    for (const deleteButtonElement of deleteButtonElements) {
        deleteButtonElement.addEventListener('click', deleteWord);
    }
  </script>
</body>
</html>
