<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-BKTRJSBv9tQDe+qZqRr9LJQktGMxwwkIs6mH3l5x0epjQQ2glzB6tDM1gJnbxoJFqP4iTVgfk4DSbsnmRvhVw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/component.css" />
    <link rel="stylesheet" href="/static/css/borad.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- 테이블 클릭 할 시 링크이동을 위한 스타일 -->
    <style>
      .header {
        background-color: white;
      }

      table tr {
        cursor: pointer;
      }

      body {
        background-color: #f5f5f5;
      }

      #add-body {
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
      }
    </style>

    <title>커뮤니티 게시판</title>
  </head>

  <body>
    <header><%- include("../component/header")%></header>
    <div id="add-body">
      <form>
        <div class="add-C">
          <button type="button" onclick="writeCommunity()">글쓰기</button>
        </div>
      </form>
      <table>
        <tr>
          <th class="th-number">번호</th>
          <th class="th-title">제목</th>
          <th class="th-writer">글쓴이</th>
          <th class="th-check">조회</th>
          <th class="th-time">작성일</th>
        </tr>
        <% communityData.forEach((data) => { %>
        <tr onclick="detailCommunityPage('<%= data.number %>')">
          <td><%= data.number %></td>
          <td><%= data.title %></td>
          <td><%= data.userid %></td>
          <td><%= data.view %></td>
          <td><%= data.date %></td>
        </tr>
        <% }); %>
      </table>
      <div class="add-C"></div>
      <div class="paging" id="paging">
        <!-- 페이징 추가 될 공간 -->
      </div>

      <!-- 검색 영역 추가 -->
      <div id="search-area">
        <select name="search-type" id="search-type">
          <option value="title-content">제목+내용</option>
          <option value="title">제목</option>
          <option value="content">내용</option>
          <option value="writer">글쓴이</option>
        </select>
        <input
          type="text"
          id="search-input"
          placeholder="검색어를 입력하세요"
        />
        <button id="search-button" onclick="searchCommunity()">검색</button>
      </div>
    </div>

    <%- include("../component/footer")%>
    <script src="/static/javaScript/community.js"></script>

    <script>
      // 글 조회 시 세부 페이지 이동
      function detailCommunityPage(postNumber) {
        axios({
          method: "post",
          url: "/detailCommunityPage",
          data: { number: parseInt(postNumber) }, // 객체 형태로 전달
        }).then((result) => {
          location.href =
            "/readCommunity?number=" + JSON.stringify(result.data.number);
        });
      }

      // 글쓰기 페이지 이동
      function writeCommunity() {
        if (!"<%= locals.userid%>") {
          return swal("로그인이 필요합니다.", "", "error").then(function () {
            location.href = "/login";
          });
        }

        window.location.href = "/writeCommunity";
      }

      async function logout(event) {
        event.preventDefault();
        const res = await axios({
          method: "post",
          url: "/logout",
        });
        swal(
          "로그아웃이 완료되었습니다!",
          "게시글 작성을 위해 로그인해주세요!",
          "success"
        ).then(function () {
          location.href = "/community";
        });

        // location.href = "/";
      }

      // 검색어로 찾기
      function searchCommunity() {
        const selectValue = document.getElementById("search-type").value;
        const str = document.getElementById("search-input").value;

        axios({
          method: "post",
          url: "/searchCommunity",
          data: {
            selectValue: selectValue,
            str: str,
          },
        }).then((result) => {
          console.log("searchCommunity 전송 성공");
          console.log(result);

          // 검색 결과가 있을 때만 모달 창 열기
          if (result.data.data.length > 0) {
            // 결과 배열을 반복하여 모달 박스에 아이템 추가
            for (let i = 0; i < result.data.data.length; i++) {
              console.log(result.data.data[i]);
            }
          } else {
            // 검색 결과가 없을 때의 처리 (예: 알림 메시지 등)
            console.log("검색 결과가 없습니다.");
          }
        });
      }
    </script>
  </body>
</html>
