<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 글 읽기</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      body {
        margin: 0;
      }
      .big-C {
        min-height: 100vh;
        background-color: #f5f5f5;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .small-C {
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        width: 80%;
        max-width: 700px;
        text-align: left;
      }
      /* 제목 */
      .title {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 20px;
      }
      /* 내용 */
      .content {
        font-size: 16px;
        color: #555555;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      /* 기타 정보 */
      .meta-info {
        font-size: 14px;
        color: #888888;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      hr {
        margin-bottom: 20px;
      }
      .space {
        margin-left: 10px;
        margin-right: 5px;
      }
      .date {
        margin-left: 5px;
      }
      .views {
        margin-left: auto;
        margin-right: 5px;
      }
      .comments {
        margin-right: 5px;
      }
      .comments-hr {
        border: 0; /* 기본 테두리 제거 */
        height: 2px; /* 선의 높이(두께) 조절 */
        background-color: #3498db; /* 파란색으로 변경 */
        margin-top: 20px;
        margin-bottom: 20px;
      }

      /* 댓글 창 스타일 */
      .comments-area {
        margin-top: 30px;
      }
      /* 댓글 입력 폼 */
      .comment-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .comment-form textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        border-radius: 5px;
        height: 80px;
        resize: none;
        margin-bottom: 20px;
      }

      .comment-form button {
        background-color: #4caf50;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 20%;
        margin-left: auto;
      }

      .comment-form button:hover {
        background-color: #45a049;
      }

      /* 각 댓글 보기 스타일 */
      .comment {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        display: flex;

        flex-direction: column;
      }

      .comment-user {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .comment-date {
        color: #888888;
        font-size: 12px;
        margin-left: auto;
        margin-bottom: 10px;
      }
      .comment-content {
        border-top: 1px solid #ddd; /* 구분선 스타일 추가 */
        padding-top: 10px; /* 구분선과의 간격 조절 */
      }
    </style>
  </head>
  <body>
    <!-- B 페이지의 EJS 파일 -->

    <div class="big-C">
      <div class="small-C">
        <div class="title"><%= data.title %></div>
        <hr />
        <div class="meta-info">
          <span class="user-name"><%= data.userid %></span>
          <span class="space"> | </span>
          <span class="date">2023년 12월 23일</span>
          <span class="views">조회수: 120</span>
          <span class="comments">댓글: 5</span>
        </div>
        <hr />
        <div class="content"><%= data.content %></div>
        <hr />
        <div class="comments-area">
          <form name="comment-form">
            <div class="comment-form">
              <textarea placeholder="댓글을 입력하세요" name="write"></textarea>
              <button
                type="button"
                onclick="writeComment('<%= data.number %>')"
              >
                댓글 등록
              </button>
            </div>
          </form>
          <hr class="comments-hr" />

          <% if (data2.length) {%> <% for (const dat of data2) {%>
          <div class="comment">
            <div class="comment-user"><%= dat.userid %></div>
            <div class="comment-date">2023년 12월 23일</div>
            <div class="comment-content"><%= data.content %></div>
          </div>
          <% } %> <% } else { %>
          <div class="comment">
            <div class="comment-date">2023년 12월 23일</div>
            <div class="comment-content">댓글이 없어요</div>
          </div>

          <% } %>
        </div>
      </div>
    </div>

    <script>
      // 댓글 텍스트 전송
      function writeComment(number) {
        const form = document.forms["comment-form"];
        const content = form.write.value;

        if (content != "") {
          axios({
            method: "post",
            url: "/writeComment",
            data: {
              number: parseInt(number),
              content: content,
            },
          })
            .then((result) => {
              location.href = `/readCommunity?number=${number}`;
            })
            .catch((error) => {
              console.error("axios 에러:", error);
            });
        } else {
          alert("댓글을 입력하세요");
          location.href = `/readCommunity?number=${parseInt(number)}`;
        }
      }
    </script>
  </body>
</html>
