<!-- boardList.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>boardList</title>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      .postBox {
        border: 3px solid;
        display: flex;
        width: 100%;
        height: 200px;
      }
      .commentContainer {
        border: 3px solid orange;
        width: 300px;
        height: 188px;
      }
    </style>
  </head>

  <body>
    <h1>게시물 출력</h1>
    <div class="boxContainer">
      <% data.forEach((item, index) => { %>
      <div class="postBox">
        <p>number: <%= item.number %> /</p>
        <p>userid: <%= item.userid %> /</p>
        <p>Title: <%= item.title %> /</p>
        <p>Content: <%= item.content %></p>

        <hr />
        <!-- 아래는 댓글 작성 -->
        <form class="comment">
          <!-- <input type="text" name="writeUserid" placeholder="아이디" /> -->
          <input type="text" name="writeContent" placeholder="댓글내용" />
          <button type="button" onclick="writeComment('<%= index %>')">
            제출
          </button>
        </form>

        <div class="commentContainer">
          <button type="button" onclick="readComment('<%= index %>')">
            댓글 보기
          </button>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
      function writeComment(index) {
        const forms = document.querySelectorAll(".comment");
        const form = Array.from(forms)[index]; //몇번째 글을 눌러서 댓글 작성하는지 알아야해서 array로 저장

        // 클릭된 게시물 number + 작성자 이름 + 댓글내용 필요
        axios({
          method: "post",
          url: "/writeComment",
          data: {
            number: parseInt(index) + 1,
            // writeUserid: form.querySelector("[name='writeUserid']").value,
            writeContent: form.querySelector("[name='writeContent']").value,
          },
        }).then((result) => {
          console.log("click Box > ", result);
          document.location.href = "/boardList";
        });
      }

      function readComment(index) {
        axios({
          method: "post",
          url: "/readComment",
          data: {
            number: parseInt(index) + 1,
          },
        }).then((result) => {
          const commentContainer =
            document.querySelectorAll(".commentContainer");
          const commentArray = result.data.commentArray;

          // commentArray = [ [userid, content] ] 2차원배열
          commentArray.forEach((item) => {
            console.log("comment array item > ", item);
            const userid = item[0];
            const content = item[1];

            const pElement = document.createElement("p");
            pElement.textContent = `userid : ${userid} , content : ${content}`;

            commentContainer[index].appendChild(pElement);
          });
        });
      }
    </script>
  </body>
</html>
